# ignore everything (dirs, files, sub-dirs, sub-files)
/*
# but do not ignore the .gitignore file
!.gitignore

# do not ignore dirs (needed due to the above bullet point)
!/Syllabus
!/Slides/
!/Slides/Chapter 0 - Course Introduction
!/Homeworks/

# ignore files and sub dirs
#/Syllabus/*
/Slides/*
/Homeworks/*

# but do not ignore the config.fish file
!/Slides/Chapter 0 - Course Introduction/
!/Slides/Chapter 0 - Course Introduction/*.pdf
!/Slides/Chapter 0 - Course Introduction/*.png

!/Slides/Chapter 1 - Introduction/
!/Slides/Chapter 1 - Introduction/*.pdf
!/Slides/Chapter 1 - Introduction/*.png
!/Slides/Chapter 1 - Introduction/Figures
!/Slides/Chapter 1 - Introduction/Figures/*

!/Slides/Chapter 2 - Measurement/
!/Slides/Chapter 2 - Measurement/*.pdf
!/Slides/Chapter 2 - Measurement/*.png
!/Slides/Chapter 2 - Measurement/Figures
!/Slides/Chapter 2 - Measurement/Figures/*

!/Slides/Chapter 3 - Business Cycle Measurement/
!/Slides/Chapter 3 - Business Cycle Measurement/*.pdf
!/Slides/Chapter 3 - Business Cycle Measurement/*.png
!/Slides/Chapter 3 - Business Cycle Measurement/Figures
!/Slides/Chapter 3 - Business Cycle Measurement/Figures/*

!/Slides/Chapter 4 - Consumer and Firm Behavior/
!/Slides/Chapter 4 - Consumer and Firm Behavior/*.pdf
!/Slides/Chapter 4 - Consumer and Firm Behavior/*.png
!/Slides/Chapter 4 - Consumer and Firm Behavior/Figures
!/Slides/Chapter 4 - Consumer and Firm Behavior/Figures/*

!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/*.pdf
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/*.png
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/Figures
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/Figures/*
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/*.xlsx
!/Slides/Chapter 5 - A Closed Economy One-Period Macroeconomic Model/*.nb


!/Slides/Chapter 6 - Search and Unemployment/
!/Slides/Chapter 6 - Search and Unemployment/*.pdf
!/Slides/Chapter 6 - Search and Unemployment/*.png
!/Slides/Chapter 6 - Search and Unemployment/Figures
!/Slides/Chapter 6 - Search and Unemployment/Figures/*


!/Slides/Chapter 7 - Economic Growth - Malthus and Solow/
!/Slides/Chapter 7 - Economic Growth - Malthus and Solow/*.pdf
!/Slides/Chapter 7 - Economic Growth - Malthus and Solow/*.png
!/Slides/Chapter 7 - Economic Growth - Malthus and Solow/Figures
!/Slides/Chapter 7 - Economic Growth - Malthus and Solow/Figures/*

!/Slides/Chapter 8 - Income Disparity Among Countries and Endogenous Growth/
!/Slides/Chapter 8 - Income Disparity Among Countries and Endogenous Growth/*.pdf
!/Slides/Chapter 8 - Income Disparity Among Countries and Endogenous Growth/*.png
!/Slides/Chapter 8 - Income Disparity Among Countries and Endogenous Growth/Figures
!/Slides/Chapter 8 - Income Disparity Among Countries and Endogenous Growth/Figures/*

!/Slides/Chapter 9 - Two-Period Model - The Consumption-Savings Decision and Credit Markets/
!/Slides/Chapter 9 - Two-Period Model - The Consumption-Savings Decision and Credit Markets/*.pdf
!/Slides/Chapter 9 - Two-Period Model - The Consumption-Savings Decision and Credit Markets/*.png
!/Slides/Chapter 9 - Two-Period Model - The Consumption-Savings Decision and Credit Markets/Figures
!/Slides/Chapter 9 - Two-Period Model - The Consumption-Savings Decision and Credit Markets/Figures/*

!/Slides/Chapter 10 - Credit Market Imperfections - Credit Frictions, Financial Crises, and Social Security/
!/Slides/Chapter 10 - Credit Market Imperfections - Credit Frictions, Financial Crises, and Social Security/*.pdf
!/Slides/Chapter 10 - Credit Market Imperfections - Credit Frictions, Financial Crises, and Social Security/*.png
!/Slides/Chapter 10 - Credit Market Imperfections - Credit Frictions, Financial Crises, and Social Security/Figures
!/Slides/Chapter 10 - Credit Market Imperfections - Credit Frictions, Financial Crises, and Social Security/Figures/*

!/Slides/Chapter 11 - A Real Intertemporal Model/
!/Slides/Chapter 11 - A Real Intertemporal Model/*.pdf
!/Slides/Chapter 11 - A Real Intertemporal Model/*.png
!/Slides/Chapter 11 - A Real Intertemporal Model/Figures
!/Slides/Chapter 11 - A Real Intertemporal Model/Figures/*

!/Slides/Chapter 12 - Money, Banking, Price, and Monetary Policy/
!/Slides/Chapter 12 - Money, Banking, Price, and Monetary Policy/*.pdf
!/Slides/Chapter 12 - Money, Banking, Price, and Monetary Policy/*.png
!/Slides/Chapter 12 - Money, Banking, Price, and Monetary Policy/Figures
!/Slides/Chapter 12 - Money, Banking, Price, and Monetary Policy/Figures/*

!/Slides/Chapter 13 - Business Cycle Models with Flexible Prices and Wages/
!/Slides/Chapter 13 - Business Cycle Models with Flexible Prices and Wages/*.pdf
!/Slides/Chapter 13 - Business Cycle Models with Flexible Prices and Wages/*.png
!/Slides/Chapter 13 - Business Cycle Models with Flexible Prices and Wages/Figures
!/Slides/Chapter 13 - Business Cycle Models with Flexible Prices and Wages/Figures/*

!/Slides/Chapter 14 - New Keynesian Economics - Sticky Prices/
!/Slides/Chapter 14 - New Keynesian Economics - Sticky Prices/*.pdf
!/Slides/Chapter 14 - New Keynesian Economics - Sticky Prices/*.png
!/Slides/Chapter 14 - New Keynesian Economics - Sticky Prices/Figures
!/Slides/Chapter 14 - New Keynesian Economics - Sticky Prices/Figures/*



!/Homeworks/Homework_1.pdf
!/Homeworks/Homework_2.pdf
!/Homeworks/Homework_3.pdf
!/Homeworks/Homework_4.pdf

!/Syllabus/*.pdf